API_ID=12892070 # get this value from my.telegram.org
API_HASH=0bf614356958387bd6cd7e7f247f0ef0 # get this value from my.telegram.org
BOT_TOKEN= # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://islam2005:islam2005@cluster0.rdjot.mongodb.net/myFirstDatabase?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001706977644 # get this value from in your log group 
MUSIC_BOT_NAME=MIX # your music bot name 
STRING_SESSION=BAAORerirNcoDB6DpU0AHMlioauZ3jFbM2bO3iWKqgS-r_tJAs7JcRwRwPMBSnYUuKUQDftxH7UwHplfqpx8efRYpKX4pLtNf_FZovwzfK5fOucA-rxh3NEuFJW-37Fqv_-DqWaMDcDBLy2AcwDXEaFpqkf6vOn2-nONXBybvECJw0USjsZcDClAALGNufQjE-g25yHVPHOrzYHB2jumPBFbozQbtHNPgQh6mSayR24sXiFgfVfQZ5sP0LjISnbLpSnLAcjMBSoQ_jNQw3oqqxXBSpPQCOJ7e4HwRwL7yffiwkZ-vtHeal7vDOAPrboOIeiT-F9k82yrnV7W5kj7QxnrAAAAASsxlM4A # get this value from @yukkistringbot
IMG_BOT1=https://i.postimg.cc/4yfzByz6/IMG-20220422-032225-841.jpg
IMG_DEV1=https://i.postimg.cc/QNqFr1dN/IMG-20220421-043047-729.jpg
المالك=
NAME_BOT=سكر
